<a href="https://colab.research.google.com/github/popuriity/bootcamp_projects/blob/main/nycflights13_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HOMEWORK - NYCflights13
Five Business Question

In [3]:
install.packages("nycflights13")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
# Load library
library(nycflights13)
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.0      ✔ purrr   0.3.5
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()



---



---

1. Which 5 airlines have the most average departure delay (in minutes).

In [5]:
flights %>% 
  filter(dep_delay > 0) %>%  # filter only positive delay
  group_by(carrier) %>% 
  summarise(mean_delay = mean(dep_delay)) %>% 
  arrange(desc(mean_delay)) %>% 
  left_join(airlines, by = "carrier") %>% 
  select(airline = name,
         code = carrier,
         mean_delay_mins = mean_delay ) %>% 
  head(5)

  airline                  code mean_delay_mins
1 SkyWest Airlines Inc.    OO   58.00000
2 Mesa Airlines Inc.       YV   52.95279
3 ExpressJet Airlines Inc. EV   50.32979
4 Endeavor Air Inc.        9E   48.92001
5 Frontier Airlines Inc.   F9   45.13783

SkyWest, Mesa, ExpressJet, Endeavor, Frontier Airlines are top5 of deley departure in 2013, respectively.



---



---

2. The longest route from each airports in NYC (Newark Liberty Intl, John F Kennedy Intl, La Guardia)

In [ ]:
flights %>%
  group_by(origin, dest) %>%
  summarise(distance = max(distance)) %>% 
  arrange(desc(distance)) %>% head()

3. Top10 of aircraft manufacturer that operated flight in 2013

In [ ]:
flights %>% 
  left_join(select(planes, tailnum, manufacturer), by = "tailnum") %>% 
  group_by(manufacturer) %>% 
  summarise(n=n()) %>% 
  mutate(manufacturer = if_else(is.na(manufacturer), "Others", manufacturer) ,
         percentage = n*100/sum(n)) %>% 
  arrange(desc(n)) %>% 
  head(10)

3. The most popular route from each destination. ((Newark Liberty Intl, John F Kennedy Intl, La Guardia)

In [ ]:
flights %>% 
  count(origin, dest)