<a href="https://colab.research.google.com/github/popuriity/bootcamp_projects/blob/main/API_Homework_cat_breeds_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Cats API üêà

## Import tools

In [2]:
import requests
import time
import pandas as pd
import numpy as np

## Pilot

In [3]:
url = "https://catfact.ninja/breeds?page=1"

# send request
response = requests.get(url)
response

In [4]:
# parse information to json

results = response.json()
results

{'current_page': 1,
 'data': [{'breed': 'Abyssinian',
   'country': 'Ethiopia',
   'origin': 'Natural/Standard',
   'coat': 'Short',
   'pattern': 'Ticked'},
  {'breed': 'Aegean',
   'country': 'Greece',
   'origin': 'Natural/Standard',
   'coat': 'Semi-long',
   'pattern': 'Bi- or tri-colored'},
  {'breed': 'American Curl',
   'country': 'United States',
   'origin': 'Mutation',
   'coat': 'Short/Long',
   'pattern': 'All'},
  {'breed': 'American Bobtail',
   'country': 'United States',
   'origin': 'Mutation',
   'coat': 'Short/Long',
   'pattern': 'All'},
  {'breed': 'American Shorthair',
   'country': 'United States',
   'origin': 'Natural',
   'coat': 'Short',
   'pattern': 'All but colorpoint'},
  {'breed': 'American Wirehair',
   'country': 'United States',
   'origin': 'Mutation',
   'coat': 'Rex',
   'pattern': 'All but colorpoint'},
  {'breed': 'Arabian Mau',
   'country': 'Arabian Peninsula',
   'origin': 'Natural',
   'coat': 'Short',
   'pattern': ''},
  {'breed': 'Australian Mist',
   'country': 'Australia',
   'origin': 'Crossbreed',
   'coat': 'Short',
   'pattern': 'Spotted and Classic tabby'},
  {'breed': 'Asian',
   'country': 'developed in the United Kingdom (founding stock from Asia)',
   'origin': '',
   'coat': 'Short',
   'pattern': 'Evenly solid'},
  {'breed': 'Asian Semi-longhair',
   'country': 'United Kingdom',
   'origin': 'Crossbreed',
   'coat': 'Semi-long',
   'pattern': 'Solid'},
  {'breed': 'Balinese',
   'country': 'developed in the United States (founding stock from Thailand)',
   'origin': 'Crossbreed',
   'coat': 'Long',
   'pattern': 'Colorpoint'},
  {'breed': 'Bambino',
   'country': 'United States',
   'origin': 'Crossbreed',
   'coat': 'Hairless/Furry down',
   'pattern': ''},
  {'breed': 'Bengal',
   'country': 'developed in the United States (founding stock from Asia)',
   'origin': 'Hybrid',
   'coat': 'Short',
   'pattern': 'Spotted/Marbled'},
  {'breed': 'Birman',
   'country': 'developed in France (founding stock from Burma)',
   'origin': 'Natural',
   'coat': 'Semi Long',
   'pattern': 'Colorpoint'},
  {'breed': 'Bombay',
   'country': 'developed in the United States (founding stock from Asia)',
   'origin': 'Crossbred',
   'coat': 'Short',
   'pattern': 'Solid'},
  {'breed': 'Brazilian Shorthair',
   'country': 'Brazil',
   'origin': 'Natural',
   'coat': 'Short',
   'pattern': 'All'},
  {'breed': 'British Semi-longhair',
   'country': 'United Kingdom',
   'origin': '',
   'coat': 'Medium',
   'pattern': 'All'},
  {'breed': 'British Shorthair',
   'country': 'United Kingdom',
   'origin': 'Natural',
   'coat': 'Short',
   'pattern': 'All'},
  {'breed': 'British Longhair',
   'country': 'United Kingdom',
   'origin': '',
   'coat': 'Long',
   'pattern': ''},
  {'breed': 'Burmese',
   'country': 'Burma and Thailand',
   'origin': 'Natural',
   'coat': 'Short',
   'pattern': 'Solid'},
  {'breed': 'Burmilla',
   'country': 'United Kingdom',
   'origin': 'Crossbreed',
   'coat': 'Short/Long',
   'pattern': ''},
  {'breed': 'California Spangled',
   'country': 'United States',
   'origin': 'Crossbreed',
   'coat': 'Short',
   'pattern': 'Spotted'},
  {'breed': 'Chantilly-Tiffany',
   'country': 'United States',
   'origin': '',
   'coat': '',
   'pattern': ''},
  {'breed': 'Chartreux',
   'country': 'France',
   'origin': 'Natural',
   'coat': 'Short',
   'pattern': 'Solid'},
  {'breed': 'Chausie',
   'country': 'France',
   'origin': 'Hybrid',
   'coat': 'Short',
   'pattern': 'Ticked'}],
 'first_page_url': 'https://catfact.ninja/breeds?page=1',
 'from': 1,
 'last_page': 4,
 'last_page_url': 'https://catfact.ninja/breeds?page=4',
 'links': [{'url': None, 'label': 'Previous', 'active': False},
  {'url': 'https://catfact.ninja/breeds?page=1', 'label': '1', 'active': True},
  {'url': 'https://catfact.ninja/breeds?page=2',
   'label': '2',
   'active': False},
  {'url': 'https://catfact.ninja/breeds?page=3',
   'label': '3',
   'active': False},
  {'url': 'https://catfact.ninja/breeds?page=4',
   'label': '4',
   'active': False},
  {'url': 'https://catfact.ninja/breeds?page=2',
   'label': 'Next',
   'active': False}],
 'next_page_url': 'https://catfact.ninja/breeds?page=2',
 'path': 'https://catfact.ninja/breeds',
 'per_page': 25,
 'prev_page_url': None,
 'to': 25,
 'total': 98}

In [5]:
data = results['data']
data[0:5]

[{'breed': 'Abyssinian',
  'country': 'Ethiopia',
  'origin': 'Natural/Standard',
  'coat': 'Short',
  'pattern': 'Ticked'},
 {'breed': 'Aegean',
  'country': 'Greece',
  'origin': 'Natural/Standard',
  'coat': 'Semi-long',
  'pattern': 'Bi- or tri-colored'},
 {'breed': 'American Curl',
  'country': 'United States',
  'origin': 'Mutation',
  'coat': 'Short/Long',
  'pattern': 'All'},
 {'breed': 'American Bobtail',
  'country': 'United States',
  'origin': 'Mutation',
  'coat': 'Short/Long',
  'pattern': 'All'},
 {'breed': 'American Shorthair',
  'country': 'United States',
  'origin': 'Natural',
  'coat': 'Short',
  'pattern': 'All but colorpoint'}]

In [6]:
for i in range(0, len(data)):
    print(data[i]['breed'])

Abyssinian
Aegean
American Curl
American Bobtail
American Shorthair
American Wirehair
Arabian Mau
Australian Mist
Asian
Asian Semi-longhair
Balinese
Bambino
Bengal
Birman
Bombay
Brazilian Shorthair
British Semi-longhair
British Shorthair
British Longhair
Burmese
Burmilla
California Spangled
Chantilly-Tiffany
Chartreux
Chausie

In [7]:
for i in range(1,5):
    print(f"{url}?page={i}")

https://catfact.ninja/breeds?page=1?page=1
https://catfact.ninja/breeds?page=1?page=2
https://catfact.ninja/breeds?page=1?page=3
https://catfact.ninja/breeds?page=1?page=4

## Get all data

In [8]:
url = "https://catfact.ninja/breeds"

breeds = []
countries = []
origins = []
coats = []
patterns = []

for i in range(1,5):
    # send request to each page
    response = requests.get(f"{url}?page={i}")
    result = response.json()
    
    # get only data key
    data = result['data']
    
    for j in range(0, len(data)):
        # convert to series
        breeds.append(data[j]['breed'])
        countries.append(data[j]['country'])
        origins.append(data[j]['origin'])
        coats.append(data[j]['coat'])
        patterns.append(data[j]['pattern'])
    
    # stop 2 seconds before go to next page
    time.sleep(2)

cat_df = pd.DataFrame({
    'breed': breeds,
    'country': countries,
    'origin': origins,
    'coat': coats,
    'pattern': patterns
})

cat_df

,breed,country,origin,coat,pattern
0,Abyssinian,Ethiopia,Natural/Standard,Short,Ticked
1,Aegean,Greece,Natural/Standard,Semi-long,Bi- or tri-colored
2,American Curl,United States,Mutation,Short/Long,All
3,American Bobtail,United States,Mutation,Short/Long,All
4,American Shorthair,United States,Natural,Short,All but colorpoint
...,...,...,...,...,...
93,Toyger,United States,Crossbreed,Short,Mackerel
94,Turkish Angora,Turkey,Natural,Semi-long,All but colorpoint
95,Turkish Van,developed in the United Kingdom (founding stoc...,Natural,Semi-long,Van
96,Ukrainian Levkoy,Ukraine,,Hairless,
97,York Chocolate,United States (New York),Natural,Long,Solid

# Info

In [9]:
cat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   breed    98 non-null     object
 1   country  98 non-null     object
 2   origin   98 non-null     object
 3   coat     98 non-null     object
 4   pattern  98 non-null     object
dtypes: object(5)
memory usage: 4.0+ KB

In [10]:
cat_df.tail(10)

,breed,country,origin,coat,pattern
88,Sphynx,Canada,Mutation,Hairless,All
89,Suphalak,Thailand,Natural,Short,Solid
90,Thai,Thailand,Natural,Short,Colorpoint
91,Thai Lilac,Thailand,Natural,Short,Solid
92,Tonkinese,Canada,Crossbreed,Short,Colorpoint/Mink/Solid
93,Toyger,United States,Crossbreed,Short,Mackerel
94,Turkish Angora,Turkey,Natural,Semi-long,All but colorpoint
95,Turkish Van,developed in the United Kingdom (founding stoc...,Natural,Semi-long,Van
96,Ukrainian Levkoy,Ukraine,,Hairless,
97,York Chocolate,United States (New York),Natural,Long,Solid

Even if `cat_df.info()` shows that all columns has no missing values, there are white spaces in some data point. All data type are object, so I replace these white spaces with `NA`.

In [11]:
cat_df = cat_df.replace("", np.nan)
cat_df.tail(5)

,breed,country,origin,coat,pattern
93,Toyger,United States,Crossbreed,Short,Mackerel
94,Turkish Angora,Turkey,Natural,Semi-long,All but colorpoint
95,Turkish Van,developed in the United Kingdom (founding stoc...,Natural,Semi-long,Van
96,Ukrainian Levkoy,Ukraine,NaN,Hairless,NaN
97,York Chocolate,United States (New York),Natural,Long,Solid

In [12]:
# The number of breeds on each of pattern
cat_df["pattern"].value_counts()

All                              22
Solid                            14
Colorpoint                        8
Spotted                           7
All but colorpoint                6
Ticked                            5
All but colorpoint and ticked     2
Varied                            1
Mackerel                          1
Colorpoint/Mink/Solid             1
Classic tabby with ticking        1
Colorpoint/Mitted/Bicolor         1
Bicolor                           1
Striped tabby                     1
Colorprint                        1
Hairless                          1
Bi- or tri-colored                1
Spotted/Marbled                   1
Evenly solid                      1
Spotted and Classic tabby         1
Van                               1
Name: pattern, dtype: int64

In [13]:
cat_origin_coat = cat_df.groupby('origin')['coat'].value_counts().reset_index(name = 'count')
cat_origin_coat

               origin                 coat  count
0           Crossbred                Short      1
1          Crossbreed                Short      9
2          Crossbreed                 Long      6
3          Crossbreed           Short/Long      2
4          Crossbreed             Hairless      1
5          Crossbreed  Hairless/Furry down      1
6          Crossbreed           Long/Short      1
7          Crossbreed            Semi-long      1
8          Crossbreed       Short/Hairless      1
9              Hybrid                Short      3
10  Hybrid Crossbreed                Short      2
11           Mutation                  Rex      6
12           Mutation           Short/Long      3
13           Mutation             Hairless      1
14           Mutation                 Long      1
15     Mutation/Cross     Rex (Short/Long)      1
16            Natural                Short     22
17            Natural                 Long      4
18            Natural            Semi-long      3
19            Natural           Short/Long      3
20            Natural                  All      1
21            Natural            Semi Long      1
22            Natural       Short/Hairless      1
23   Natural/Mutation                 Long      1
24   Natural/Mutation      Partly Hairless      1
25   Natural/Mutation                Short      1
26   Natural/Mutation           Short/Long      1
27   Natural/Standard            Semi-long      1
28   Natural/Standard                Short      1

In [15]:
# find cat breeds that origin is from Crossbred and its coat is short.
cat_df.query(' origin == "Crossbred" & coat == "Short" ')

,breed,country,origin,coat,pattern
14,Bombay,developed in the United States (founding stock...,Crossbred,Short,Solid